import(Biobase)
import(DESeq)
import(GOSemSim)
import(Heatplus)
import(RankProd)
import(anota)
import(edgeR)
import(gplots)
import(limma)
import(methods)
import(org.Hs.eg.db)
import(plotrix)
import(samr)
import(sigPathway)
import(topGO)
export(newTranslatomeDataset, computeDEGs, getExprMatrix, getConditionA, getConditionB, getConditionC, getConditionD, getDataType, getConditionLabels, getLevelLabels, getDEGs)
export(Histogram, Scatterplot, MAplot, SDplot, CVplot, GOEnrichment, RegulatoryEnrichment, DEGs.table, getDEGsMethod, significance.threshold, FC.threshold, label.level.DEGs, label.condition)
export(Radar, Heatmap, enriched.table, label.level.enriched)
export(GOComparison)
export(IdentityPlot, SimilarityPlot, identity.matrix, similarity.matrix, average.similarity.scores)